<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i></div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" th:src="@{${basePath}+'/static/img/profile_small.jpg'}" /></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0);" >
						<span class="clear" th:if="${session.LoginUser} != null">
	                       	<span class="block m-t-xs">
	                      		<strong class="font-bold"   th:text="${session.LoginUser.username}" >
                                      	游客
                                </strong>
	                       	</span>
							<span class="text-muted text-xs block"   th:each="role:${session.LoginUser.roles}" >
								<label th:text="${role.roleName}">游客</label>
									<b class="caret"></b>
								</span>
						</span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li>
                            <a class="J_menuItem"  th:href="@{/user/avatar}">修改头像</a>
                        </li>
                        <li>
                            <a class="J_menuItem"  th:href="@{/user/profile}">个人资料</a>
                        </li>
                       <!--  <li>
                            <a class="J_menuItem"  th:href="contacts.html">联系我们</a>
                        </li> -->
                        <li>
                            <a class="J_menuItem"  th:href="@{/user/mailbox}">信箱</a>
                        </li> 
                        <li class="divider"></li>
                        <li>
                            <a th:href="@{/logout}">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">W</div>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">主页</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="J_menuItem" th:href="@{${basePath}+'/index'}" data-index="0">Dashbard</a>
                    </li>
                </ul> 
            </li>
          <app:notEmpty  th:value="${session.LoginUser}" >
          	 <app:notEmpty  th:value="${session.LoginUser.menuGroups}"> 
            	<li th:each="group:${session.LoginUser.menuGroups}">
	                <a href="javascript:void(0);">
	                    <i th:class="${group.icon}"></i>
	                    <span class="nav-label" th:text="${group.groupName}"></span>
	                    <span class="fa arrow"></span>
	                </a>
	                <ul class="nav nav-second-level">
	                    <li th:each="menu:${group.menus}" >
	                        <a class="J_menuItem" th:href="${menu.url}" th:text="${menu.menuName}" data-index="0"></a>
	                    </li>
	                </ul>
	            </li> 
	       	</app:notEmpty>
           </app:notEmpty>
        </ul>
    </div>
</nav>
