<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<title>LZDN - 401</title>
<link th:replace="head"></link>
<link th:replace="base"></link>
</head>

<body class="gray-bg">
	<div class="middle-box text-center animated fadeInDown">
		<h1>401</h1>
		<h3 class="font-bold">未授权</h3>

		<div class="error-desc">
			您还没有权限访问该页面，请联系管理员... <br />您可以返回主页看看 <br /> <a th:href="@{${bathPath}+'/home'}"
				class="btn btn-primary m-t">主页</a>
		</div>
	</div>

	<!-- 全局js -->
	<script th:src="@{${basePath}+'/static/js/jquery.min.js?v=2.1.4'}"></script>
	<script th:src="@{${basePath}+'/static/js/bootstrap.min.js?v=3.3.6'}"></script>
</body>

</html>