<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
		<title>LZDN - 注册</title>
		<link th:replace="head"></link>
		<link th:replace="base"></link>
		<script>
			if(window.top !== window.self) {
				window.top.location = window.location;
			}
		</script>
	</head>
	<body class="gray-bg">
		<div class="middle-box text-center loginscreen  animated fadeInDown">
			<div>
				<div>
					<h1 class="logo-name">LZDN</h1>
				</div>
				<h3>欢迎注册 LZDN</h3>
				<p>创建一个LZDN新账户</p>
				<form class="m-t" id="validationRegisterFrom" action="#" method="post">
					<div class="form-group">
						<input id="account" name="account" type="text" class="form-control" placeholder="请输入用户名" maxlength="32">
					</div>
					<div class="form-group">
						<input id="password" name="password" type="password" class="form-control" placeholder="请输入密码" maxlength="16">
					</div>
					<div class="form-group">
						<input id="repeatPassword" name="repeatPassword" type="password" class="form-control" placeholder="请输入确认密码" maxlength="16">
					</div>
					<div class="form-group">
						<input id="username" name="username" type="text" class="form-control" placeholder="请输入姓名" maxlength="32">
					</div>
					<div class="form-group">
						<input id="email" name="email" type="email" class="form-control" placeholder="请输入邮箱地址" maxlength="32">
					</div>
					<div class="form-group text-left">
						<label class="no-padding checkbox i-checks"><input id="agree" name="agree" type="checkbox"><i></i> 我同意注册协议</label>
						<label id="agree-error" class="error" for="agree"></label>
					</div>
					<button id="registerButton" type="button" class="btn btn-primary block full-width m-b">注 册</button>

					<p class="text-muted text-center"><small>已经有账户了？</small>
						<a th:href="@{/login}">点此登录</a>
					</p>
				</form>
			</div>
		</div>
		<div th:replace="script"></div>
		<script th:src="@{${basePath}+'/static/js/login.js'}"></script>
	</body>
</html>